*{
    box-sizing: border-box;
}
:root{
    --color-xanh :#10375c;
    --color-btn :#2e80ce;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* ================================common=================================== */
input, textarea, select, button{
    font-family: inherit;
    /* kế thừa font */
    font-size: inherit;
}
.container{
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}
a{
    text-decoration: none;
}
.btn{
    display: inline-block;
    min-width: 205px;
    line-height: 60px;
    background: var(--color-btn);
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    border-radius: 999px;
}
btn:hover{
    opacity: 0.9;
}
.section-heading{
    color: var(--color-xanh);
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}
.section-desc{
    margin-top: 18px;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}
.control{
    display: flex;
    column-gap: 18px;
    align-items: center;
}
.control__btn{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #575F66;
    background: #fff;
    cursor: pointer;
    transition: 0.5s;
}
.control__btn:hover{
    background: var(--color-btn);
    border-color: var(--color-btn);
    color: #fff;
}
.control__icon--next{
    rotate: 180deg;
}

/* ================================HEADER=================================== */
.header{
    padding-top: 30px;
    min-height: 100vh;
    background: var(--color-xanh);
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__list{
    display: flex;
}
.header__action--login,
.navbar__link{
    padding: 8px 21px;
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}
.navbar__link:hover,
.navbar__link--active{
    text-shadow: 1px 0 0 currentColor;
    color: #fff;
}
.navbar__link--active::before{
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    top: -3px;
    position: relative;
    right: 8px;
}
.header__action--signup{
    min-width: 144px;
    line-height: 44px;
    font-size: 1.6rem;
    margin-left: 7px;
}

/* ===============================hero=========================================== */
.hero{
    display: flex;
    align-items: center;
    padding-top: 76px;
}
.hero__content{
    width: 44%;
}
.hero__media{
    flex: 1;
}
.hero__heading{
    color: #fff;
    font-size: 7rem;
    line-height: 1.14;
    font-weight: 600;
    letter-spacing: -1.14px;
}
.hero__desc{
    margin-top: 22px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}
.hero__row{
    margin-top: 30px;
    display: flex;
    align-items: center;
    column-gap: 38px;
}
.hero__phone{
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.67;
}
.hero__images{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.hero__img{
    object-fit: cover;
    border-radius: 6px;
}
.hero__img--large{
    width: 330px;
    height: 540px;
    border-radius: 6px;
    margin-right: -6px;
    z-index: 1;
}
.hero__img--small{
    width: 210px;
    height: 410px;
}


/* =================service============================================== */
.service{
    padding: 170px; 
    /* dùng margin có nền -> nền dính chữ */
    background: #fff;
}
.service__heading,
.service__desc{
    text-align: center;
}
.service__desc{
    width: 468px;
    margin: 18px auto 0px;
}
.service__row{
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    align-items: center;
}
.service__img{
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}
.service-item{
    display: flex;
    width: 470px;
    padding: 21px;
    border-radius: 10px;
    background: #fff;
    transition: 0.25s;
}
.service-item:hover{
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
    position: relative;
}
.service-item:hover .service-item__icon{
    color: #fff;
    background: #2e80ce;
}
.service-item__icon{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #eff6fd;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: 19px;
    transition: 0.25s;
}
.service-item__heading{
    color: var(--color-xanh);
    font-size: 1.8rem;
    font-weight: 600;
}
.service-item__desc{
    margin-top: 8px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}
.service__btn{
    margin-top: 55px;
}

/* ==============================work========================= */
.work{
    padding: 100px 0;
    background: #f6fbff;
}
.work__desc{
    width: 468px;
}
.work__list{
    margin-top: 86px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}
.work-item{
    padding: 43px;
    border-radius: 4px;
    background: #fff;
    border: 16px solid #eaf6ff;
    transition: 0.25s;
}
.work-item:hover{
    border-color: var(--color-btn);
    transform: translateY(-16px);
}
.work-item__heading{
    margin-top: 18px;
    color: var(--color-xanh);
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}
.work-item__desc{
    margin-top: 28px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}
.work-item__more{
    color: var(--color-btn);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}


/* ===========================about us======================= */
.about{
    padding: 85px 0 206px;
    margin-top: 85px;
}
.about-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about__media{
    width: 49%;
}
.about-content{
    width: 40%;
}
.about__img{
    position: relative;
}
.about__img--big{
    width: 512px;
    height: 370px;
    border-radius: 6px;
    object-fit: cover;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}
.about__img--small{
    position: absolute;
    top: 121px;
    left: 238px;
    width: 332px;
    height: 370px;
    border-radius: 6px;
    object-fit: cover;
}
.about-content__btn{
    margin-top: 38px;
}


/* ===========================team================================== */
.team{
    padding: 85px 0px;
}
.team__header{
    text-align: center;
    margin: 0 auto;
}
.team__btn{
    margin-top: 38px;
    margin-bottom: 70px;
}
.team__list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}
.team-item__img-bg{
    padding-top: 28px;
    border-radius: 6px;
    background: #EAF6FF;
    overflow: hidden;
}
.team-item:hover .team-item__thumb{
    transform: scale(1.1);
}
.team-item__thumb{
    height: 290px;
    max-width: 100%;
    display: block;
    object-fit: cover;
    transition: 0.5s;
}
.team-item__name{
    color: var(--color-xanh);
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.75; 
    margin-top: 12px;
}
.team-item__desc{
    color: #575F66;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.86; 
}
.team__control{
    margin-top: 38px;
    justify-content: center;
}


/* ==========================cta==================================== */
.cta__row{
    height: 427px;
    margin: 180px 0px 85px;
    background: var(--color-btn);
    display: flex;
    border-radius: 4px;
    padding: 0 70px;
    justify-content: space-between;    
    align-items: center;
    position: relative;
}
.cta__img{
    position: absolute;
    width: 284px;
    height: 522px;
    object-fit: cover;
    bottom: 0;
}
.cta-content{
    max-width: 586px;
}
.cta-content__heading{
    color: #fff;
    max-width: 489px;
}
.cta-content__desc{
    color: #fff;
    margin-top: 18px;
    max-width: 586px;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}
.cta-dowload{
    margin-top: 38px;
    display: flex;
    gap: 28px;
    align-items: center;
}


/* ============================blog=================================== */
.blog{
    padding: 85px 0;
}
.blog__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog-content{
    max-width: 40%;
}
.blog-content--readall{
    display: inline-block;
    margin: 28px 0;
    color: var(--color-xanh);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.56;
    text-decoration-line: underline;
    text-underline-offset: 4px;
    /* cho gạch chân tới chữ g */
}
.blog-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
}
.blog-item__img-wrap{
    height: 172px;
    overflow: hidden;
}
.blog-item{
    max-width: 270px;
    overflow: hidden;
    border-radius: 12px;
    background: #fff;
    border: 1px solid #e8ebee;
}
.blog-item:hover{
    box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
    border-color: transparent;
    /* transoarent: trong suốt */
}
.blog-item:hover .blog-item__thumb{
    transform: scale(1.1);
}
.blog-item__thumb{
    height: 172px;
    width: 270px;
    object-fit:cover;
    border-radius: 12px 12px 0px 0px;
    transition: 0.25s;
}
.blog-item__body{
    padding: 18px 22px;
}
.blog-item__name{
    color: var(--color-xanh);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.62;
}
.blog-item__desc{
    margin-top: 10px;
    color: #575F66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.72; 
}
.blog-item__more{
    display: inline-block;
    margin-top: 12px;
    color: var(--color-xanh);
    font-size: 1.4rem;
    font-weight: 400;
}
.blog-item__more:hover{
    color: var(--color-btn);
}


/* =======================appointment====================== */
.appointment{
    margin-top: 85px;
}
.appointment-body{
    padding: 100px 178px;
    height: 452px;
    text-align: center;
    background: #F6FBFF;
}
/* thêm gạch chân  */
.appointment__heading::after{
    content: "";
    display: block;
    width: 136px;
    height: 2px;
    background: #2e80ce;
    margin: 18px auto 0;
}
.appointment__desc{
    font-size: 1.6rem;
    line-height: 1.75;
    margin: 18px auto 38px;
    width: 617px;
}


/* =======================footer====================== */
.footer{
    margin-top: 170px;
    padding-top: 100px;
    background: var(--color-xanh);
    font-family: "Open Sans", sans-serif;
}
.footer__top{
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
    column-gap: 78px;
}
.footer__desc{
    margin-top: 21px;
    color: #a9b3bb;
    font-size: 1.6rem;
    line-height: 1.75;
}
.footer__heading{
    color: #fff;
    font-weight: 600;
    line-height: 1.75;
    font-size: 1.6rem;
}
.footer__list{
    margin: 20px 0 28px;
}
.footer__item{
    margin-bottom: 10px;
}
.footer__link{
    font-size: 1.4rem;
    color: #a9b3bb;
    line-height: 1.86;
    white-space: nowrap;
}
.footer__link:hover{
    text-decoration: underline;
}
.footer__mxh{
    display: flex;
    column-gap: 10px;
    margin: 20px 0 28px;
}
.footer__mxh-btn{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2E80CE;
}
.footer__mxh-btn:hover{
    background: #2E80CE;
    color: #fff;
}
.footer__form{
    display: flex;
    column-gap: 12px;
    margin-top: 18px;
}
.footer__form-input{
    border-radius: 4px;
    border: 1px solid #406181;
    width: 212px;
    height: 46px;
    background: transparent;
    outline: none;
    color: #fff;
}
.footer__form-input::placeholder{
    color: #9CA8B1;
    font-size: 1.4rem;
    line-height: 1.86;
}
.footer-form__btn{
    border-radius: 4px;
    background: #2E80CE;
    width: 108px;
    height: 46px;
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.86;
    border: none;
}
.footer-form__btn:hover{
    cursor: pointer;
    opacity: 0.9;
}
.footer__copyright{
    border-top: 1px solid #406181;
}
.footer__copyright-desc{
    color: #AAB3BA;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1,86;
    padding: 28px 0 42px;
}







